# Postgres
POSTGRES_DB=minishop
POSTGRES_USER=minishop
POSTGRES_PASSWORD=minishop_dev
POSTGRES_PORT=5432
DATABASE_URL=postgresql://minishop:minishop_dev@localhost:5432/minishop

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379

# RabbitMQ
RABBITMQ_USER=minishop
RABBITMQ_PASSWORD=minishop_dev
RABBITMQ_PORT=5672
RABBITMQ_UI_PORT=15672
RABBITMQ_URL=amqp://minishop:minishop_dev@localhost:5672
